<div class="content-description">
  <div class="row">
    <div class="large-12 columns">
      <h1>Repositories</h1>
    </div>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="large-4 columns">
      <ul class="side-nav repos">
        <li class="panel header">My Organizations</li>
        <li><a href="/repositories/<%= @orgs[0]['user'].login%>/search"><span class="octicon octicon-person link"></span><%= @orgs[0]['user'].login %></a></li>
        <% @orgs.each do |org| %>
        <li><a href="/repositories/<%= org['organization'].login%>/search"><span class="octicon octicon-organization link"></span><%= org['organization'].login %></a></li>
        <% end %>
      </ul>
    </div>
    <div class="large-8 columns">
      <div class="large-12 columns">
      <h1>Available Repositories</h1>
      <table>
        <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @repositories.each do |repository| %>
            <tr>
              <% if repository.private %>
              <td><span class="mega-octicon octicon-lock"></span></td>
              <% else %>
              <td><span class="mega-octicon octicon-repo"></span></td>
              <% end %>
              <td><%= repository.name %></td>
              <td><%= repository.full_name %></td>
              <td><%= repository.description %></td>
              <td>
                <%= form_for Repository.new do |f| %>
                  <%= f.hidden_field :repository_id, :value => repository.id %>
                  <%= f.button :enable, class: "enable-button"%>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="large-12 columns">
    <h1>Enabled Repositories</h1>
    <% if not @repositories_enabled.empty? %>
    <table>
      <thead>
        <tr>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @repositories_enabled.try(:each) do |repository| %>
          <tr>
            <% if repository.private %>
            <td><span class="mega-octicon octicon-lock"></span></td>
            <% else %>
            <td><span class="mega-octicon octicon-repo"></span></td>
            <% end %>
            <td><%= repository.name %></td>
            <td><%= repository.full_name %></td>
            <td><%= repository.description %></td>
            <td>
              <%= form_for Repository.new do |f| %>
                <%= f.hidden_field :repository_id, :value => repository.id %>
                <%= f.button :disable, class: "enable-button"%>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>

    </div>

  </div>
</div>
